@model insta_001.Models.InstUserModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>You observe next instagram accounts:</p>
@{
    foreach (string user in @ViewBag.users)
    {
        <b>@user</b><br/>
    }
}

<br />


You can add/delete insagram user. Put username below.

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
    <p>Username : @Html.TextBoxFor(x => x.username) </p>
                <input type="submit" value="Submit" />
}

@{
    if (@ViewBag.username != null)
    {
        if (@ViewBag.upd == false)
        { <p>User <b>@ViewBag.username</b> deleted. </p>}
        else
        { <p>User <b>@ViewBag.username</b> added. </p>}
    }
}
