@model List<insta_001.Models.Data>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a {
        font-size: 18px;
    }

    .imgBlock {
        float: none;
        width: 250px;
        height: auto;
    }

        .imgBlock img {
            width: inherit;
            height: auto;
        }

    .commentBlock {
        float: none;
        width: 250px;
    }
    .post{
        width: 510px;
        margin:15px;
    }
</style>

@foreach (insta_001.Models.Data data in Model)
{
    <div class="post col-xs-6">
        <div class="imgBlock">
            <img class="img-circle" src="@data.info.picSrc" />
            <a href="https://www.instagram.com/+@data.postAuthor">@data.postAuthor</a>
            <a href="@data.info.postLink">go to post</a>
        </div>
        <div class="commentBlock">
            @foreach (insta_001.Models.Comment comm in data.comments)
            {
                <b><a href="www.instagram.com/@comm.author">@comm.author</a></b>
                <div> @comm.text</div>
                <br>
            }
        </div>
    </div>
    <br>
    <br>
}
