@model List<insta_001.Models.InstModel>

<style>

    .masonry { /* Masonry container */
    column-gap: 1em;
}

    .item { /* Masonry bricks or child elements */
        border: 1px solid #ccc;
        display: inline-block;
        margin: 10px;
        padding : 10px;
        width: 270px;
    }

  .img-circle {width:100%;}

      @@media only screen and (min-width: 300px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

    @@media only screen and (min-width: 600px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@@media only screen and (min-width: 995px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@@media only screen and (min-width: 1360px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@@media only screen and (min-width: 1700px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }

    .grid-item { width: 200px; border: 1px solid #ccc;margin: 10px; }

</style>

<div style="width:100%;font-size:25pt;text-align:center;">
    Загружено @Model.Count первых постов из @ViewBag.AllPosts!
</div>
<div class="masonry">
    @foreach (insta_001.Models.InstModel data in Model)
    { <div class="item">
        <div class="imgBlock">
            <a href="@data.postLink">
                <img class="img-circle" src="@data.picSrc" />
            </a>
            <a href="https://www.instagram.com/@data.postAuthor">@data.postAuthor</a>
            <p style="font-size: 10px;"> @data.created </p>
        </div>
        <div class="commentBlock">
            @foreach (insta_001.Models.InstCommModel comm in data.comments)
                {
                <b><a href="https://www.instagram.com/@comm.author">@comm.author</a></b>
                <br>
                <span style="font-size: 10px;"> @comm.created </span>
                    <div> @comm.text</div>
                    <br>
            }
        </div>
    </div>
    }
</div>