@model List<insta_001.Models.VkModel>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .post {
        border: 1px solid #ccc;
        vertical-align: top;
        width: 300px;
        margin: 10px;
        float: left;
        display: inline-block;
    }

    .date {
        font-size: 10px;
    }


    .imgBlock {
           float: left;
        height: 130px;
        width: 130px;
    }

    .commBlock {
        float: right;
        width: 100px;
    }
</style>




@foreach (insta_001.Models.VkModel data in Model)
{<div class="col-xs-12 post">
     <div class="imgBlock">
         <a href="@data.postHref">
             <img class="img-circle" src="@data.postPhotoHref" />
            </a>
         </div>

         <div class="commBlock">
             <a href="@data.authorHref">
                 @data.authorName
             </a>
             <br />
             <span class="date">
                 @data.created
             </span>
             <br />
             @data.comment
         </div>
     </div>
}
